/** Variables */
/**************/

/**
* Font
**/
$fontFamily: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$fontSizeGeneral: 14px;

/**
* Colors
**/
$colorDefault: #F2F2F2;
$colorActive: #03B5AA;
$colorPrimary: #767676;
$colorSecondary: #FFFFFF;

/**
* Sizes
**/
$contentPerfilPaddingGeneral: 10px 40px 10px 40px;
